<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="FILENAME" value="./logs/challenge-data-collector"/>
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5level [%thread] %logger{32} : %msg%n"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${PATTERN}</Pattern>
        </layout>
    </appender>

    <springProfile name="dev | prod">
        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${FILENAME}.log</file>
            <encoder>
                <pattern>${PATTERN}</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${FILENAME}.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
                <maxFileSize>100MB</maxFileSize>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="console"/>
        <springProfile name="dev | prod">
            <appender-ref ref="file"/>
        </springProfile>
    </root>
</configuration>