.page {
    display: flex;
    height: 100vh;
}

.left {
    position: relative;

    height: 100%;
    width: clamp(300px, 40%, 600px);

    background: url("../assets/images/login_title_img.png");
    background-size: cover;
}

.appNameWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 35%;
    height: 244px;
    background: no-repeat url("../assets/images/login_title_overlay.png");

    overflow: hidden;
    white-space: nowrap;
}

.appName {
    font-family: "NotoSansCJKKR";
    text-align: center;
    color: white;
    font-size: clamp(1rem, 2.4rem, 2.4rem);
    padding: 0 1.6rem;

    text-overflow: clip;
}

.logos {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;

    padding: 1rem;
}
.logos img {
    margin-right: 2rem;
}

.right {
    width: max(100%, 480px);
    display: grid;
    place-items: center;

    padding: 2rem;
}
.loginCard {
    width: min(480px, 100%);
    display: flex;
    flex-direction: column;
}
.loginCard img {
    width: 113px;
    margin-bottom: 3rem;
}
.loginCard p {
    margin: 0;
    margin-bottom: 3rem;
}
.loginCard h1 {
    margin: 0 0 0.2rem 0;
}
.loginCard .formGroup {
    width: 100%;
    margin-bottom: 2rem;
}
.loginCard form label {
    color: #999;
    font-size: 0.75rem;
}
.loginCard form input {
    display: block;
    width: calc(100% - 3.2rem);
    height: 32px;

    font-size: 16px;
    font-weight: 500;

    padding: 0.6rem 1.6rem;

    border: none;
    border-radius: 0;
    border-bottom: 1px solid #999;
    background: transparent;
}

.loginCard form input:focus-visible {
    outline: none;
}

.loginBtn {
    width: 100%;
    height: 3.6rem;
    background: #306fd9;

    border: none;
    box-shadow: none;
    border-radius: 4px;
    padding: 0;

    color: white;
    font-size: 18px;
    text-align: middle;

    cursor: pointer;

    transition: 0.3s;
}
.loginBtn:hover,
.loginBtn:active,
.loginBtn:focus {
    transform: scale(0.99);
    background: #2c548a;
}
