.chartLoadingSpinner {
    z-index: 0;
    position: absolute;
    bottom: calc(50%);
    left: calc(50% - 35px);

    width: 70px;
    height: 70px;

    border: 8px solid #306fd9;
    border-top: 8px solid transparent;
    border-radius: 50%;

    animation: spin 1.5s linear infinite;
}

.chartLoadingSpinnerOverlay {
    position: absolute;
    top: 0;
    z-index: 3;
    opacity: 0;

    background: rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

.chartLoadingSpinnerFade {
    display: block;
    opacity: 1;
    animation: fade-in 1s;
    animation-fill-mode: forwards;
}

.chartLoadingSpinnerFadeEnd {
    display: none;
    opacity: 0;
    animation: fade-out 1s;
    animation-fill-mode: forwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
