.box {
    margin: 24px;
    padding: 32px;
    height: 100%;
    background-color: #ffffff;
}

.inputLabel {
    font-size: 16px;
    font-weight: 500;
}

.inputLabel span {
    color: red;
}

.backBtn,
.backBtn:hover
 {
    color: white;

    background-color: #6c757d;
    border-color: #6c757d;
    margin-right: 10px;
}

.saveBtn,
.saveBtn:hover {
    color: white;
    background-color: #0766B6;
    border-color: #0766B6;
}

.input{
    width: 100% !important;
    margin: 25px 0 0 0 !important;
}

.input div input{
    width: 100%;
    height: 5px;
    font-size: 16px;
    font-weight: 550 !important;
    color: #6c757d !important;
    background-color: white !important;
    border: 1px solid #dee2e6;
    border-color: #ffffff !important;
    border-radius: 0.25rem;
    padding: 0.45rem, 0.9rem;
}

.input div input:disabled {
    color: red !important;
    background-color: #e9ecef !important;
}

.selectLabel {
    left: -15px;
    font-size: 16px;
    font-weight: 500;
}

.select {
    height: 40px;
    margin: 15px 0 0 0 !important;
}