.box {
    height: calc(100vh - 128px);
    min-height: 800px;
    margin: 24px;
    padding: 32px;
    background-color: #ffffff;
}

.cell {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #6c757d !important;
}

.header {
    background-color: #f8fafb !important;
    text-align: center !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #6c757d !important;
}

.filter {
    display: flex;
    align-items: center;
    border: 1px solid rgba(62, 64, 71, 0.2);
    width: 500px;
    height: 45px;
    padding-left: 10px;
    border-radius: 0.2rem;
    margin-bottom: 8px;
}

.filter input {
    border: none;
    height: 90%;
    width: 90%;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.filter input::placeholder {
    color: rgba(62, 64, 71, 0.2);
}

.img {
    height: 30px;
    width: 10%;
    color: #4579bd;
}
  