.ag-theme-alpine {
    --ag-borders: none !important;
    --ag-borders-row: solid 1px !important;
    --ag-row-border-color: #ddd !important;
    --ag-range-selection-background-color: #4579bd !important;
}

.ag-header-cell-text {
    width: 100% !important;
}

.ag-row-odd {
    background-color: transparent;
}

.intersection_no_data {
    background-color: #E6E6E6 !important;
}

.ag-header-row {
    --ag-borders-row: solid 1px !important;
    --ag-row-border-color: #ddd !important;
}

.ag-row-selected {
    background-color: #4579bd !important;
    color: white !important;
}

.ag-row-selected .ag-cell {
    color: white !important;
}

