.mapTrafficInformation {
    position: absolute;
    right: 16px;
    /* bottom: 16px; */
    width: 174px;
    height: 109px;
    z-index: 1;

    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
}

.mapTrafficWrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mapTrafficRow {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
    color: var(--fontBlack3);
    margin-bottom: 4px;
}
.mapTrafficRow:last-child {
    margin: 0;
}
.mapTrafficColor {
    display: inline-block;
    width: 20px;
    height: 5px;
    margin-right: 8px;
}
.mapTrafficColorGreen {
    background: #00e025;
}
.mapTrafficColorOrange {
    background: #ff8800;
}
.mapTrafficColorRed {
    background: #df0900;
}

.mapTrafficMessage {
    margin-left: 4px;
}
